[package]
name = "pubsub"
version = "0.6.0"
authors = ["rink1969 <rink1969@cryptape.com>"]

[dependencies]
dotenv = "0.10.0"
pubsub_rabbitmq = { path="../pubsub_rabbitmq", optional = true }
pubsub_zeromq = { path="../pubsub_zeromq", optional = true }
pubsub_kafka = { path="../pubsub_kafka", optional = true }

[features]
default = ["rabbitmq"]
rabbitmq = ["pubsub_rabbitmq"]
zeromq = ["pubsub_zeromq"]
kafka = ["pubsub_kafka"]