[submodule "cita-forever"]
	path = cita-forever
	url = https://github.com/cryptape/cita-forever.git
	branch = develop
[submodule "cita-bft"]
	path = cita-bft
	url = https://github.com/cryptape/cita-bft.git
	branch = develop
[submodule "scripts/txtool/txtool/proto"]
	path = scripts/txtool/txtool/proto
	url = https://github.com/cryptape/cita-proto.git
[submodule "scripts/contracts/tests/abi"]
	path = scripts/contracts/tests/abi
	url = https://github.com/cryptape/cita-sys-abi.git
[submodule "scripts/contracts/tests/contracts"]
	path = scripts/contracts/tests/contracts
	url = https://github.com/cryptape/test-contracts.git
