


# Compiled files
*.o
*.so
*.rlib
*.dll
*.pyc

# Executables
*.exe

# intermedia file directory
target/
*/target/

# Cargo lock in subs
**/Cargo.lock


# editor specific
# vim stuff
*.swp
# emacs stuff
*~
# vscode
.vscode
# jetbrains ide stuff
.idea
*.iml
# mac stuff
.DS_Store

# gdb files
.gdb_history

# ctags
TAGS

# sphinx
docs/build

# vagrant file
.vagrant

# tmp files
tests/wrk_benchmark_test/hash.txt
consensus/authority_round/data/

scripts/txtool/output
