[submodule "cita-tendermint"]
	path = cita-tendermint
	url = https://github.com/cryptape/cita-tendermint.git
	branch = develop
[submodule "cita-forever"]
	path = cita-forever
	url = git@github.com:cryptape/cita-forever.git
