[package]
name = "auth"
version = "0.1.0"
authors = ["rink1969 <rink1969@cryptape.com>"]

[dependencies]
clap = "2"
log = "0.3"
dotenv = "0.10.0"
cpuprofiler = "0.0.3"
cita-crypto = { path = "../share_libs/crypto"}
util = { path = "../share_libs/util"}
pubsub = { path = "../share_libs/pubsub" }
cita_log = { path = "../share_libs/cita_log" }
libproto = { path = "../share_libs/proto" }

protobuf = { version = "^1.0.0"}
cache_2q = "0.8.4"
