[package]
name = "consensus_tendermint"
version = "0.1.0"
authors = ["yubo <yubo@cryptape.com>"]

[dependencies]
dotenv = "0.10.0"
threadpool = "1.3.2"
serde = "1.0"
serde_derive = "1.0"
serde_json = "1.0"
bincode = "0.8.0"
libproto = {path = "../../share_libs/proto"}
util = {path = "../../share_libs/util"}
rustc-serialize = "0.3"
tx_pool = {path = "../../share_libs/tx_pool"}
protobuf = { version = "^1.0.0" }
log = "0.3"
clap = "2"
amqp = "=0.0.20"
pubsub = { path = "../../share_libs/pubsub" }
cita-crypto = { path = "../../share_libs/crypto" }
proof = { path = "../proof" }
time = "0.1.36"
engine_json = { path = "../json" }
engine = { path = "../engine" }
lru-cache = "0.1"
cita_log = { path = "../../share_libs/cita_log" }
core = { path = "../../chain/core" }
cpuprofiler = "0.0.3"
authority_manage = { path = "../authority_manage" }